footer.footer
  //- .footer__logo
  //-   img(src='/img/logo-green.png' alt='Trippit logo')
  ul.footer__nav
    li: a(href='mailto:saimanoj2826@gmail.com') About us
    li: a(href='mailto:saimanoj2826@gmail.com') Download apps
    li: a(href='mailto:saimanoj2826@gmail.com') Become a guide
    li: a(href='mailto:saimanoj2826@gmail.com') Contact
  p.footer__copyright &copy; by Manoj Kumar